.wrapper {
    width: 100%;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.carousel-container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .4s ease;
    transform: translateX(calc(-100% - 0.5rem))
}

.carousel-container.sliding {
    transition: none;
}

.carousel-container.sliding.next {
    transform: translateX(0%)
}

.carousel-container.sliding.prev {
    transform: translateX(calc(2 * (-100% - 0.5rem)))
}

.carousel-slot {
    display: flex;
    flex: 1 0 100%;
    // flex-basis: 100%;
    height: 100%;
    width: 100%;
    margin: auto 0.5rem auto 0;
}

.carousel-slot img {
    width: 100%;
}