@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

$color-accent: rgb(196, 122, 25);

/* Main */

html, body, #root{
  background: url("/images/fallpaper.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
}

h1{
  font-family: 'Merienda', cursive;
  color: white;
  font-size: 64px;
  margin: 0 0 15px 0;
}

h3{
  font-size: 24px;
}

button{
  cursor: pointer;
}



/* Page: Home */

.page{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;

}

#page-home{
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

#section-name{
  padding: 50px 100px 50px 100px;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
}

#myName{
  margin: 0;
  display: inline-block;
  font-size: 75px;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#largeGitHub{
  width: 100px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
}

#largeGitHub:hover{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.container-buttons{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  margin-left: 100px;
  
  li{
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    text-align: center;


    cursor: pointer;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(39, 39, 39, 0.8);
      z-index: -1;
      transition: 0.5s;
      transform-origin: 0 0;
      transform: scaleX(0);
    }
  
    &:hover::before{
      z-index: -1;
      transform: scaleX(1);
    }

    button{
      color: white;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      white-space: nowrap;
      border: none;
      background: none;
    }
  }
}

#home-cv-button{
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 24px;

  div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .cv-top-div{
    background: $color-accent;
    padding: 15px;
  }

  &::before{
    display: none;
  }
}  

.cv-bot-div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  button{
    height: 35px;
    width: 40px;
    background: none;
    border: none;
  }

  #download{
    background-image: url("/images/icon_download.png");
    background-size: cover;

    &:hover{
      background-image: url("/images/icon_download_naranja.png");
    }
  }

  #fullscreen{
    background-image: url("/images/icon_fullscreen.png");
    background-size: cover;

    &:hover{
      background-image: url("/images/icon_fullscreen_naranja.png");
    }
  }
}
  
  
.standardText{
  color: white;
  text-align: center;
  margin-top: "25px";
  font-family: 'Roboto Slab', serif;
}
  
  
/* About */

#about-container{
  font-family: 'Roboto Slab', serif;
  top: 50%;
  left: 50%;
}

#return-button{
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid $color-accent;
  color: white;
  padding: 5px 30px 5px 30px;
  margin-bottom: 5px;
  font-family: 'Merienda', cursive;
  z-index: 1;
}

#return-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(196, 122, 25);
  transition: 0.5s;
  transform-origin: right 0;
  transform: scaleX(0);
}

#return-button:hover{
  color: black;
}

#return-button:hover::before{
  z-index: -1;
  transform: scaleX(1);
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#other-buttons{
  display: flex;
  flex-direction: column;
}

#other-buttons li{
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(196, 122, 25);
  margin-bottom: 5px;
  z-index: 1;
  color: white;
  font-family: 'Merienda', cursive;
  list-style-type: none;
  text-align: center;
}
.buttons-topSection{
  padding: 5px 30px 5px 30px;
  background: none;
  border: none;
  font-family: 'Merienda', cursive;
  color: white;

  &:hover{
      color: black;
    }
  }

.buttons-topSection::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(196, 122, 25);
  z-index: -1;
  transition: 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.buttons-topSection:hover::before{
  transform: scaleX(1);
}



#cv-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  div{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .cv-top-div{
    background: rgb(196, 122, 25);
    position: relative;
    width: 35px;
    margin: 25px 0;
    height: 100%;
  }

  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: black;
  }
}

#content-container{
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid black;  
  border-radius: 5px;
  display: flex;
  padding: 25px;
}

#photoAboutMe{
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

#text-container{
  background: rgba(25, 25, 25, 0.8);
  padding: 1% 10% 5% 10%;
  margin: 0 2% 0 2%;
}


/* Projects */



.skillsIcons{
  margin: 0;
  padding: 0;
  float: center;
  text-align: center;
  margin-bottom: 15px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
}

.iconSkill{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.iconSkill img{
  width: 75px;
}


.mobileProjectSection{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 45px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.otherProjectSection{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 45px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.videos{
  width: 215px;
}

.projectVideoBlock{
  height: 100%;
}

.videosOther{
  max-width: 350px;
}

.projectInfoBlock{
  display: inline-block;
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 0 50px 0 50px;
}

.projectHeader{
  color: white;
  text-decoration: underline;
}

.sourceCode{
  width: 25px;
  height: 25px;
  margin-right: 25px;
  align-self: flex-start;
}

.sourceCode img{
  border: 1px solid transparent;
  padding: 5px;
}

.sourceCode img:hover{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}


/* Profile Links */

#mainImageLinks{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#mainImageLinks li{
  padding: 5px 15px 5px 15px;
  margin: 0px 15px 0px 15px;
}

#mainImageLinks img{
  max-width: 75px;
}


/* Other */

#textLang{
  color: rgb(236, 120, 18);
}

.textThing{
  font-weight: 850;
  font-size: 18px;
}

#hello{
  font-weight: 600;  
}



/* Media Queries */

@media screen and (max-width: 1350px){
  .otherProjectSection{
    flex-direction: column;
  }

  .otherProjectSection .sourceCode{
    margin-right: 0px;
  }

  .otherProjectSection .sourceCode{
    order: 1;
  }

  .otherProjectSection .projectInfoBlock{
    order: 2;
  }

  .otherProjectSection .projectVideoBlock{
    order: 3;
  }

  .videosOther{
    max-height: 300px;
  }

}

@media screen and (max-width: 1160px){
  .iconSkill img{
    height: 50px;
    width: 50px;
  }

  

  .page{
    width: 90%;
    margin: 0 auto;
    top: 40%;
  }
}


@media screen and (max-width: 1000px){

  #myName{
    padding-right: 35px;
    padding-left: 35px;
    display: inline-block;
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .container-buttons{
    margin-left: 15px;

    li{
      padding: 5px 10px;
    }
  }

  #photoAboutMe{
    width: 150px;
  }

  #content-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  #temporaryBlock{
    display: flex;
    flex-direction: column;
  }

  #largeGitHub{
    position: relative;
    margin: 0px 5px 10px 5px;
  }

  #mainBlock{
    padding: 10px 0px 10px 5px;
  }

  #modalButtonsContainer{
    display: flex;
    flex-direction: column;
  }

  .modalButton{
    margin: 10px 0px 10px 0px;
  }

  .modalHeader{
    font-size: 20px;
  }

  .modalContentAbout{
    width: 80%;
  }

  .modalContentResume{
    width: 95%;
  }

  .modalContentProjects{
    width: 80%;
  }
}

@media screen and (max-width: 700px){

  #page-home{
    flex-direction: column;
    width: 100%;

    #section-name{
      width: 100%;
    }

    .container-buttons{
      width: 100%;
      margin: 10px 0;

      a{
        width: 100%;
        margin: 15px auto;


        li{
          padding: 10px 0;
          border: none;
        }
      }
    }
  }

  #home-cv-button{
    width: 60%;
    margin: 0 auto;
  }

  .videosOther{
    max-width: 250px;
  }

  #mainBlock{
    padding: 5px 0px 5px 0px;
  }

  #myName{
    font-size: 24px;
    margin: 0px 0px 5px 0px;
  }

  #modalButtonsContainer{
    padding: 0px;
    margin: 0px;
  }

  .modalButtonP{
    margin: 0px;
    padding: 0px;
  }

  .modalButton button{
    padding: 5px 30px 5px 30px;
    font-size: 10px;
  }

  #mainImageLinks{
    margin: 0px;
  }

  #mainImageLinks img{
    max-width: 45px;
    padding: 0px;
  }

  .iconSkill{
    margin: 0px 5px 0px 5px;
  }

  .iconSkill img{
    max-width: 30px;
  }

  .mobileProjectSection{
    flex-direction: column;
    padding: 15px;
  }

  .projectInfoBlock{
    padding: 10px;
  }

  .otherProjectSection{
    padding: 15px;
  }

  .mobileProjectSection .sourceCode{
    margin-right: 0px;
    order: 1;
  }

  .mobileProjectSection .projectInfoBlock{
    order: 2;
  }

  .mobileProjectSection .projectVideoBlock{
    order: 3;
  }

  .videos{
    max-height: 200px;
  }

  .videosOther{
    max-width: 250px;
  }

}


