/* Main */

html, body, #root{
  height: 100%;
}

.App {
  text-align: center;
  background: url("/images/fallpaper.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

#mainBlock{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.35);
  padding: 25px 0px 25px 0px;
}

#myName{
  padding-right: 100px;
  padding-left: 100px;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  font-size: 75px;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Modal Structure */

.modalContentProjects{
  width: 50%;
  border: 1px solid #ccc;
  background-color: rgba(25, 25, 25, .8);
  margin: 3% auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 3px;
  outline: none;
  padding: 15px;
  z-index: 3;
  font-family: Geneva, Tahoma, sans-serif;
}

.modalContentResume{
  width: 80%;
  height: 85%;
  border: 1px solid #ccc;
  background-color: rgba(25, 25, 25, .8);
  margin: 3% auto;
  border-radius: 3px;
  outline: none;
  padding: 15px;
  z-index: 3;
  overflow: hidden;
}

.modalContentAbout{
  width: 35%;
  border: 1px solid #ccc;
  background-color: rgba(25, 25, 25, .8);
  margin: 3% auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 3px;
  outline: none;
  padding: 15px;
  z-index: 3;
}

.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.modalOverlayProjects{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.xButtons{
  text-align: right;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -15px;
  right: 0;
  color: grey;
}

.xButtons a:hover{
  color: white;
  cursor: pointer;
}

.standardText{
  color: white;
  text-align: center;
  margin-top: "25px";
  font-family: "Verdana"
}


.modalHeader{
  color: white;
  line-height: 1.0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 10px;
  font-weight: 100;
}

.modalTopBlock{
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

/* Modal Guts */

#photoAboutMe{
  width: 50%;
  display: block;
  margin: 25px auto 0px auto; 
  border-radius: 3px;
}

.skillsIcons{
  margin: 0;
  padding: 0;
  float: center;
  text-align: center;
}

.iconSkill{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.iconSkill img{
  width: 75px;
}

.mobileProjectSection{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid white;
}

.otherProjectSection{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid white;
}

.videos{
  width: 215px;
}

.projectVideoBlock{
  height: 100%;
}

.videosOther{
  max-width: 350px;
}

.projectInfoBlock{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
}

.projectHeader{
  color: white;
  text-decoration: underline;
}

.sourceCode{
  width: 25px;
  height: 25px;
  margin-right: 25px;
  align-self: flex-start;
}




/* Buttons */

#modalButtonsContainer{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px 0px 0px 0px;
}

.modalButton :hover{
  cursor: pointer;
}

.modalButton button{
  background: none;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  margin: 0px 10px 0px 10px;
  color: white;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}


/* Profile Links */

#mainImageLinks{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#mainImageLinks li{
  padding: 5px 15px 5px 15px;
  margin: 0px 15px 0px 15px;
}

#mainImageLinks img{
  max-width: 75px;
}


/* Other */

#textLang{
  color: rgba(227, 140, 63);
}

.textThing{
  font-weight: 850;
  font-size: 18px;
}

#hello{
  font-weight: 600;  
}


/* Media Queries */

@media screen and (max-width: 1350px){
  .otherProjectSection{
    flex-direction: column;
  }

  .otherProjectSection .sourceCode{
    margin-right: 0px;
  }

  .otherProjectSection .sourceCode{
    order: 1;
  }

  .otherProjectSection .projectInfoBlock{
    order: 2;
  }

  .otherProjectSection .projectVideoBlock{
    order: 3;
  }

  .videosOther{
    max-height: 300px;
  }
}

@media screen and (max-width: 1160px){
  .iconSkill img{
    height: 50px;
    width: 50px;
  }
}


@media screen and (max-width: 900px){
  #myName{
    padding-right: 35px;
    padding-left: 35px;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #modalButtonsContainer{
    display: flex;
    flex-direction: column;
  }

  .modalButton{
    margin: 10px 0px 10px 0px;
  }

  .modalHeader{
    font-size: 20px;
  }

  .modalContentAbout{
    width: 80%;
  }

  .modalContentResume{
    width: 95%;
  }

  .modalContentProjects{
    width: 80%;
  }
}

@media screen and (max-width: 500px){
  .videosOther{
    max-width: 250px;
  }

  #mainBlock{
    padding: 5px 0px 5px 0px;
  }

  #myName{
    font-size: 24px;
    margin: 0px 0px 5px 0px;
  }

  #modalButtonsContainer{
    padding: 0px;
    margin: 0px;
  }

  .modalButtonP{
    margin: 0px;
    padding: 0px;
  }

  .modalButton button{
    padding: 5px 30px 5px 30px;
    font-size: 10px;
  }

  #mainImageLinks{
    margin: 0px;
  }

  #mainImageLinks img{
    max-width: 45px;
    padding: 0px;
  }

  .iconSkill{
    margin: 0px 5px 0px 5px;
  }

  .iconSkill img{
    max-width: 20px;
  }

  .mobileProjectSection{
    flex-direction: column;
  }

  .mobileProjectSection .sourceCode{
    margin-right: 0px;
  }

  .mobileProjectSection .sourceCode{
    order: 1;
  }

  .mobileProjectSection .projectInfoBlock{
    order: 2;
  }

  .mobileProjectSection .projectVideoBlock{
    order: 3;
  }

  .videos{
    max-height: 200px;
  }

  .videosOther{
    max-width: 250px;
  }

}


